version: "3.9"
services:
  mongodb:
    image: mongo:7
    container_name: da-sheet-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
